<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Post a job position or create your online resume by TheJobs!">
    <meta name="keywords" content="">
    <title>TheJobs</title>
    <link href="css/per.css" rel="stylesheet">
    <link href="css/app.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="img/favicon.ico">
  </head>
  <body class="nav-on-header smart-nav">
    <!-- Navigation bar -->
           <nav class="navbar">
      <div class="container">
        <!-- Logo -->
        <div class="pull-left">
          <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

          <div class="logo-wrapper">
            <a class="logo" href=""><img src="img/logo.png" alt="logo"></a>
            <a class="logo-alt" href=""><img src="img/logo-alt.png" alt="logo-alt"></a>
          </div>
        </div>
        <!-- END Logo -->
        <!-- User account -->
         <div class="pull-right user-login">
         
           <a class="btn btn-sm btn-primary" href="admin_panel">HR</a> 
           {# or <a href="reg">register</a> #}
          <img id="specialButton" style="cursor:pointer;" src="https://lidrekon.ru/images/special.png" alt="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" title="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" /> 
          <div class="language">
              <img src="img/lang__ru.png" alt="ru" data-google-lang="ru" class="language__img">
              <img src="img/lang__en.png" alt="en" data-google-lang="en">
            </div>
        </div> 
        <!-- END User account -->
         <!-- Navigation menu -->
        <ul class="nav-menu">
          <li>
            <a class="active" href="/">Home</a>
          </li>
          <li>
            <a href="#">Компания</a>
            <ul>
              <li><a href="company-list">Обзор компаний</a></li>
              <li><a href="company-detail">Информация о компании</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Страницы</a>
            <ul>
              <li><a href="page-about">О нас </a></li>
              <li><a href="page-contact">Контакты</a></li>
              <li><a href="page-faq">FAQ</a></li>
            </ul>
          </li>
        </ul>
        <!-- END Navigation menu -->
      </div>
    </nav>
    <!-- END Navigation bar -->
    <!-- Site header -->
    <header class="site-header size-lg text-center" style="background-image: url(img/bg-banner1.jpg)">
      <div class="container">
        <div class="col-xs-12">
          <br><br>
          <h2>Мы предлагаем <mark>1,259</mark> вакансии прямо сейчас!</h2>
          <h5 class="font-alt">Найди свое желание за минуту</h5>
          <br><br><br>
        </div>
      </div>
    </header>
    <!-- END Site header -->
    <!-- Main container -->
    <main>
      <!-- Recent jobs -->
       <section>
        <div class="container">
          <header class="section-header">
            <span>Последний</span>
            <h2>Недавние вакансии</h2>
          </header>
          <div class="row item-blocks-connected">
            <!-- Job item -->
            <div class="col-xs-12">
              <a class="item-block" href="job-detail">
                <header>
                  <img src="img/logo-google.jpg" alt="">
                  <div class="hgroup">
                    <h4>Senior front-end developer</h4>
                    <h5>Google</h5>
                  </div>
                  <div class="header-meta">
                    <span class="location">Menlo park, CA</span>
                    <span class="label label-success">Full-time</span>
                  </div>
                </header>
              </a>
            </div>
            <!-- END Job item -->
            <!-- Job item -->
            <div class="col-xs-12">
              <a class="item-block" href="job-detail1">
                <header>
                  <img src="img/logo-linkedin.png" alt="">
                  <div class="hgroup">
                    <h4>Software Engineer (Entry or Senior)</h4>
                    <h5>Linkedin</h5>
                  </div>
                  <div class="header-meta">
                    <span class="location">Livermore, CA</span>
                    <span class="label label-warning">Part-time</span>
                  </div>
                </header>
              </a>
            </div>
            <!-- END Job item -->
            <!-- Job item -->
            <div class="col-xs-12">
              <a class="item-block" href="job-detail2">
                <header>
                  <img src="img/logo-envato.png" alt="">
                  <div class="hgroup">
                    <h4>Full Stack Web Developer</h4>
                    <h5>Envato</h5>
                  </div>
                  <div class="header-meta">
                    <span class="location">San Francisco, CA</span>
                    <span class="label label-info">Freelance</span>
                  </div>
                </header>
              </a>
            </div>
            <!-- END Job item -->
            <!-- Job item -->
            <div class="col-xs-12">
              <a class="item-block" href="job-detail3">
                <header>
                  <img src="img/logo-facebook.png" alt="">
                  <div class="hgroup">
                    <h4>Web Applications Developer</h4>
                    <h5>Facebook</h5>
                  </div>
                  <div class="header-meta">
                    <span class="location">Lexington, MA</span>
                    <span class="label label-danger">Internship</span>
                  </div>
                </header>
              </a>
            </div>
            <!-- END Job item -->
            <!-- Job item -->
            <div class="col-xs-12">
              <a class="item-block" href="job-detail4">
                <header>
                  <img src="img/logo-microsoft.jpg" alt="">
                  <div class="hgroup">
                    <h4>Sr. SQL Server Developer</h4>
                    <h5>Microsoft</h5>
                  </div>
                  <div class="header-meta">
                    <span class="location">Palo Alto, CA</span>
                    <span class="label label-success">Remote</span>
                  </div>
                </header>
              </a>
            </div>
            <!-- END Job item -->
          </div>
          <br><br>
          <p class="text-center"><a class="btn btn-info" href="job-list-2">>Browse all jobs</a></p>
        </div>
      </section>
      <!-- END Recent jobs -->
      <!-- Facts -->
      <section class="bg-img bg-repeat no-overlay section-sm" style="background-image: url(img/bg-pattern.png)">
        <div class="container">
          <div class="row">
            <div class="counter col-md-3 col-sm-6">
              <p><span data-from="0" data-to="6890"></span>+</p>
              <h6>Работа</h6>
            </div>
            <div class="counter col-md-3 col-sm-6">
              <p><span data-from="0" data-to="1200"></span>+</p>
              <h6>Участники</h6>
            </div>
            <div class="counter col-md-3 col-sm-6">
              <p><span data-from="0" data-to="15400"></span>+</p>
              <h6>Компания</h6>
            </div>
          </div>
        </div>
      </section>
      <!-- END Facts -->
      <!-- How it works -->
      <section class="bg-alt">
        <div class="container">
          <header class="section-header">
            <span>КАТЕГОРИИ</span>
            <h2>Популярные Категории</h2>
            <p>Вот самые популярные категории</p>
          </header>
          <div class="category-grid">
            <a href="job-list-1.html">
              <i class="fa fa-laptop"></i>
              <h6>Технологии</h6>
              <p>Дизайнер, разработчик, ИТ-сервис, Front-end разработчик, Управление проектами</p>
            </a>
            <a href="job-list-2.html">
              <i class="fa fa-line-chart"></i>
              <h6>Бухгалтерский учет</h6>
              <p>Финансы, Налоговая служба, Менеджер по расчету заработной платы, Бухгалтер, Управление персоналом</p>
            </a> 
            <a href="job-list-2.html">
              <i class="fa fa-newspaper-o"></i>
              <h6>Media</h6>
              <p>Journalism, Newspaper, Reporter, Writer, Cameraman</p>
            </a>
          </div>
        </div>
      </section>
      <!-- END Categories -->
      <!-- Newsletter -->
      <section class="bg-img text-center" style="background-image: url(img/bg-facts.jpg)">
        <div class="container">
          <h2><strong>Подписаться</strong></h2>
          <h6 class="font-alt">Получайте еженедельно лучшие новые вакансии на свой почтовый ящик</h6>
          <br><br>
          <form class="form-subscribe" action="#">
            <div class="input-group">
              <input type="text" class="form-control input-lg" placeholder="Your eamil address">
              <span class="input-group-btn">
                <button class="btn btn-success btn-lg" type="submit">Subscribe</button>
              </span>
            </div>
          </form>
        </div>
      </section>
      <!-- END Newsletter -->
    </main>
    <!-- END Main container -->
    <!-- Site footer -->
    <footer class="site-footer">
      <!-- Top section -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify"> что то там </p>
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>Company</h6>
            <ul class="footer-links">
              <li><a href="page-about.html">About us</a></li>
              <li><a href="page-typography.html">How it works</a></li>
              <li><a href="page-faq.html">Help center</a></li>
              <li><a href="page-typography.html">Privacy policy</a></li>
              <li><a href="page-contact.html">Contact us</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>Trendeing jobs</h6>
            <ul class="footer-links">
              <li><a href="job-list.html">Front-end developer</a></li>
              <li><a href="job-list.html">Android developer</a></li>
              <li><a href="job-list.html">iOS developer</a></li>
              <li><a href="job-list.html">Full stack developer</a></li>
              <li><a href="job-list.html">Project administrator</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <!-- END Top section -->
      <!-- Bottom section -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyrights &copy; 2017 All Rights Reserved by .</p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END Bottom section -->
    </footer>
    <!-- END Site footer -->
    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
    <!-- END Back to top button -->
    <!-- Scripts -->

    <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
    <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
    <script src="js/app.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/js/google-translate.js"></script>
<script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
<script src="js/google-translate"></script>
  </body>
</html>
