<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Post a job position or create your online resume by TheJobs!">
    <meta name="keywords" content="">
    <title>TheJobs - Job detail</title>
    <!-- Styles -->
    <link href="css/app.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="icon" href="img/favicon.ico">
  </head>

  <body class="nav-on-header">

       <nav class="navbar">
      <div class="container">
        <!-- Logo -->
        <div class="pull-left">
          <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

          <div class="logo-wrapper">
            <a class="logo" href=""><img src="img/logo.png" alt="logo"></a>
            <a class="logo-alt" href=""><img src="img/logo-alt.png" alt="logo-alt"></a>
          </div>
        </div>
        <!-- END Logo -->
        <!-- User account -->
         <div class="pull-right user-login">
           <a class="btn btn-sm btn-primary" href="admin_panel">HR</a> 
           {# or <a href="reg">register</a> #}
          <img id="specialButton" style="cursor:pointer;" src="https://lidrekon.ru/images/special.png" alt="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" title="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" />
        </div> 
        <!-- END User account -->
         <!-- Navigation menu -->
        <ul class="nav-menu">
          <li>
            <a class="active" href="/">Home</a>
          </li>
          <li>
            <a href="#">Компания</a>
            <ul>
              <li><a href="company-list">Обзор компаний</a></li>
              <li><a href="company-detail">Информация о компании</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Страницы</a>
            <ul>
              <li><a href="page-about">О нас </a></li>
              <li><a href="page-contact">Контакты</a></li>
              <li><a href="page-faq">FAQ</a></li>
            </ul>
          </li>
        </ul>
        <!-- END Navigation menu -->
      </div>
    </nav>
    <!-- Page header -->
    <header class="page-header bg-img size-lg" style="background-image: url(img/bg-banner2.jpg)">
      <div class="container">
        <div class="header-detail">
          <img class="logo" src="img/logo-google.jpg" alt="">
          <div class="hgroup">
            <h1>Senior front-end developer</h1>
            <h3><a href="#">Google</a></h3>
          </div>
          <time datetime="2016-03-03 20:00">2 days ago</time>
          <hr>
          <p class="lead">Вы поможете Google создавать веб-приложения следующего поколения, такие как Gmail, Google Docs, Google Analytics, а также Google eBookstore и устройства для чтения электронных книг. Как фронтенд-инженер в Google, вы будете специализироваться на создании адаптивных и элегантных веб-интерфейсов с помощью AJAX и аналогичных технологий. Вы можете проектировать или работать над фреймворками для создания масштабируемых интерфейсных приложений. Мы ищем инженеров, которые увлечены и имеют опыт создания передового пользовательского опыта, включая динамический потребительский опыт.</p>
          <div class="button-group">
            <div class="action-buttons">
              <a class="btn btn-success" href="/forma">Откликнуться на вакансии </a>
            </div>
          </div>

        </div>
      </div>
    </header>
    <!-- END Page header -->


    <!-- Main container -->
    <main>

      <!-- Job detail -->
      <section>
        <div class="container">

          <p>Google есть и всегда будет инжиниринговой компанией. Мы нанимаем людей с широким набором технических навыков, которые готовы решать некоторые из самых серьезных проблем технологий и оказывать влияние на миллионы, если не миллиарды пользователей. В Google инженеры не только произвели революцию в поиске, но и регулярно работают над решениями для масштабирования и хранения данных, крупномасштабными приложениями и совершенно новыми платформами для разработчиков по всему миру. От AdWords до Chrome, от Android до YouTube, от социальных сетей до локального, инженеры Google меняют мир одно технологическое достижение за другим.</p>

          <br>
          <h4>Обязанности</h4>
          <p></p>
          <ul>
            <li>Build next-generation web applications with a focus on the client side.</li>
            <li>Redesign UI's, implement new UI's, and pick up Java as necessary.</li>
            <li>Explore and design dynamic and compelling consumer experiences.</li>
            <li>Design and build scalable framework for web applications.</li>
          </ul>

          <br>
          <h4>Минимальная квалификация</h4>
          <ul>
            <li>Степень бакалавра / бакалавра в технической области или эквивалентный практический опыт. </li>
            <li>2 года соответствующего опыта работы в области разработки программного обеспечения.</li>
            <li>Опыт программирования на языках C, C++ или Java.</li>
            <li>Опыт работы с AJAX, HTML и CSS..</li>
          </ul>

          <br>
          <h4>Предпочтительная квалификация</h4>
          <ul>
            <li>Интерес к дизайну пользовательского интерфейса.</li>
            <li>Опыт разработки веб-приложений.</li>
            <li>Опыт работы на кроссбраузерных платформах.</li>
            <li>Опыт разработки объектно-ориентированного JavaScript.</li>
            <li>Опыт работы с платформами пользовательского интерфейса, такими как XUL, Flex и XAML.</li>
            <li>Знание дизайна пользовательского интерфейса.</li>
          </ul>

        </div>
      </section>
      <!-- END Job detail -->

    </main>
    <!-- END Main container -->


    <!-- Site footer -->
    <footer class="site-footer">

      <!-- Top section -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">An employment website is a web site that deals specifically with employment or careers. Many employment websites are designed to allow employers to post job requirements for a position to be filled and are commonly known as job boards. Other employment sites offer employer reviews, career and job-search advice, and describe different job descriptions or employers. Through a job website a prospective employee can locate and fill out a job application.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Company</h6>
            <ul class="footer-links">
              <li><a href="page-about.html">About us</a></li>
              <li><a href="page-typography.html">How it works</a></li>
              <li><a href="page-faq.html">Help center</a></li>
              <li><a href="page-typography.html">Privacy policy</a></li>
              <li><a href="page-contact.html">Contact us</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Trendeing jobs</h6>
            <ul class="footer-links">
              <li><a href="job-list.html">Front-end developer</a></li>
              <li><a href="job-list.html">Android developer</a></li>
              <li><a href="job-list.html">iOS developer</a></li>
              <li><a href="job-list.html">Full stack developer</a></li>
              <li><a href="job-list.html">Project administrator</a></li>
            </ul>
          </div>
        </div>

        <hr>
      </div>
      <!-- END Top section -->

      <!-- Bottom section -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyrights &copy; 2023 All Rights Reserved by <a>ShaMSofT</a>.</p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END Bottom section -->

    </footer>
    <!-- END Site footer -->


    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
    <!-- END Back to top button -->

    <!-- Scripts -->
    <script src="js/app.min.js"></script>
    <script src="js/custom.js"></script>
        <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
    <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>

  </body>
</html>
