<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Post a job position or create your online resume by TheJobs!">
    <meta name="keywords" content="">
    <title>TheJobs</title>
    <link href="css/app.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="img/favicon.ico">
  </head>
  <body class="nav-on-header smart-nav">
    <!-- Navigation bar -->
           <nav class="navbar">
      <div class="container">
        <!-- Logo -->
        <div class="pull-left">
          <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

          <div class="logo-wrapper">
            <a class="logo" href=""><img src="img/logo.png" alt="logo"></a>
            <a class="logo-alt" href=""><img src="img/logo-alt.png" alt="logo-alt"></a>
          </div>
        </div>
        <!-- END Logo -->
        <!-- User account -->
         <div class="pull-right user-login">
           <a class="btn btn-sm btn-primary" href="admin_panel">HR</a> 
           {# or <a href="reg">register</a> #}
          <img id="specialButton" style="cursor:pointer;" src="https://lidrekon.ru/images/special.png" alt="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" title="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" />
        </div> 
        <!-- END User account -->
         <!-- Navigation menu -->
        <ul class="nav-menu">
          <li>
            <a class="active" href="/">Home</a>
          </li>
          <li>
            <a href="#">Компания</a>
            <ul>
              <li><a href="company-list">Обзор компаний</a></li>
              <li><a href="company-detail">Информация о компании</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Страницы</a>
            <ul>
              <li><a href="page-about">О нас </a></li>
              <li><a href="page-contact">Контакты</a></li>
              <li><a href="page-faq">FAQ</a></li>
            </ul>
          </li>
        </ul>
        <!-- END Navigation menu -->
      </div>
    </nav>
    <!-- END Navigation bar -->
        <!-- Site header -->
    <header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
      <div class="container no-shadow">
        <h1 class="text-center">О нас</h1>
        <p class="lead text-center">Продолжайте читать эту страницу, чтобы узнать, как мы начали и кто за этим стоит!</p>
      </div>
    </header>
    <!-- END Site header -->


    <!-- Main container -->
    <main>



      <!-- About -->
      <section>
        <div class="container">

          <h5>Первые дни</h5>
          <p>Компьютерные технологии произвели революцию в типографике в 20 веке. Персональные компьютеры в 1980-х годах, такие как Macintosh, позволяли шрифтовым дизайнерам создавать шрифты в цифровом виде с использованием коммерческого программного обеспечения для графического дизайна. Цифровые технологии также позволили дизайнерам создавать более экспериментальные шрифты наряду с практичными шрифтами традиционной типографики. Дизайн шрифтов может быть создан быстрее с помощью новой технологии и для более специфических функций. Стоимость разработки шрифтов была резко снижена, став широко доступной для широких масс. Это изменение было названо «демократизацией шрифта» и дало новым дизайнерам больше возможностей для выхода на поле.</p>

          <h5>Как мы решаем эту проблему?</h5>
          <p>Клиент очень важен, за клиентом последует клиент. Но с грустной ненавистью. Все не волнуются. Но даже ожидаемый диам. Пока лаорет не заплатит цену. Но eleifend porta lorem a сказал. Но ему нужно пустить в интернет, ему нужно пить, как он ненавидит. Сейчас нет лацинии и политики брожения.Эней - большое озеро.</p>

          <h5>Каково наше решение</h5>
          <p>Quisque lobortis accumsan tempus. Mauris pretium neque eu posuere molestie. Maecenas tincidunt eleifend egestas. Vestibulum tellus augue, laoreet sit amet quam nec, pulvinar luctus nisl. In consequat elit et aliquet posuere. Mauris porttitor est a ipsum vehicula, non porttitor quam tincidunt. Proin id orci tortor. Integer sit amet enim a nisi sagittis ultrices. Sed efficitur feugiat lobortis. In in lorem mauris. Ut placerat velit ut ligula placerat, eu accumsan sapien luctus. Vivamus in est sit amet felis dictum dapibus. Sed et eros sed massa porttitor volutpat vel at orci. Proin et lacus molestie, bibendum nisi eu, bibendum velit.</p>

        </div>
      </section>
      <!-- END About -->



      <!-- Team -->
      <section class="bg-alt">
        <div class="container">
          <header class="section-header">
            <span>КТО МЫ</span>
            <h2>Наша Команда</h2>
            <p>В настоящее время мы трое гиков и скоро вырастем</p>
          </header>

        <div class="row equal-team-members">

          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-member">
              <h5>Jose Shams <small>Co-founder & CEO</small></h5>
              <img src="img/avatar-1.jpg" alt="avatar">
              <ul class="social-icons">
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
              <p>Curabitur eros tellus, eleifend eu ligula sed, vestibulum venenatis justo. Nunc semper augue non enim lacinia, fermum condimenm nulla finibus curabitur quis.</p>
            </div>
          </div>
          <!-- END Team member -->

          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-member">
              <h5>Mary Amiri <small>Co-founder & CTO</small></h5>
              <img src="img/avatar-3.jpg" alt="avatar">
              <ul class="social-icons">
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
              <p>Curabitur eros tellus, eleifend eu ligula sed, vestibulum venenatis justo. Nunc semper augue non enim lacinia, fermum condimenm nulla finibus curabitur quis.</p>
            </div>
          </div>
          <!-- END Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-member">
              <h5>John Doe <small>Marketing manager</small></h5>
              <img src="img/avatar-2.jpg" alt="avatar">
              <ul class="social-icons">
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
              <p>Curabitur eros tellus, eleifend eu ligula sed, vestibulum venenatis justo. Nunc semper augue non enim lacinia, fermum condimenm nulla finibus curabitur quis.</p>
            </div>
          </div>
          <!-- END Team member -->

        </div>

        </div>
      </section>
      <!-- END Team -->
    </main>
    <!-- END Main container -->
    <!-- Site footer -->
    <footer class="site-footer">
      <!-- Top section -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">An employment website is a web site that deals specifically with employment or careers. Many employment websites are designed to allow employers to post job requirements for a position to be filled and are commonly known as job boards. Other employment sites offer employer reviews, career and job-search advice, and describe different job descriptions or employers. Through a job website a prospective employee can locate and fill out a job application.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Company</h6>
            <ul class="footer-links">
              <li><a href="page-about.html">About us</a></li>
              <li><a href="page-typography.html">How it works</a></li>
              <li><a href="page-faq.html">Help center</a></li>
              <li><a href="page-typography.html">Privacy policy</a></li>
              <li><a href="page-contact.html">Contact us</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Trendeing jobs</h6>
            <ul class="footer-links">
              <li><a href="job-list.html">Front-end developer</a></li>
              <li><a href="job-list.html">Android developer</a></li>
              <li><a href="job-list.html">iOS developer</a></li>
              <li><a href="job-list.html">Full stack developer</a></li>
              <li><a href="job-list.html">Project administrator</a></li>
            </ul>
          </div>
        </div>

        <hr>
      </div>
      <!-- END Top section -->

      <!-- Bottom section -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyrights &copy; 2016 All Rights Reserved by <a href="http://themeforest.net/user/shamsoft">ShaMSofT</a>.</p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END Bottom section -->

    </footer>
    <!-- END Site footer -->


    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
    <!-- END Back to top button -->

    <!-- Scripts -->
    <script src="assets/js/app.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
    <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
  </body>
</html>