   <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Post a job position or create your online resume by TheJobs!">
    <meta name="keywords" content="">
    <title>TheJobs</title>
    <link href="css/app.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="img/favicon.ico">
  </head>
  <body class="nav-on-header smart-nav">
    <!-- Navigation bar -->
    <nav class="navbar">
      <div class="container">
        <!-- Logo -->
        <div class="pull-left">
          <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

          <div class="logo-wrapper">
            <a class="logo" href=""><img src="img/logo.png" alt="logo"></a>
            <a class="logo-alt" href=""><img src="img/logo-alt.png" alt="logo-alt"></a>
          </div>
        </div>
        <!-- END Logo -->
        <!-- User account -->
         <div class="pull-right user-login">
           <a class="btn btn-sm btn-primary" href="admin_panel">HR</a> 
           {# or <a href="reg">register</a> #}
          <img id="specialButton" style="cursor:pointer;" src="https://lidrekon.ru/images/special.png" alt="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" title="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" />
        </div> 
        <!-- END User account -->
         <!-- Navigation menu -->
        <ul class="nav-menu">
          <li>
            <a class="active" href="/">Home</a>
          </li>
          <li>
            <a href="#">Компания</a>
            <ul>
              <li><a href="company-list">Browse companies</a></li>
              <li><a href="company-detail">Информация о компании</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Страницы</a>
            <ul>
              <li><a href="page-about">О нас </a></li>
              <li><a href="page-contact">Контакты</a></li>
              <li><a href="page-faq">FAQ</a></li>
            </ul>
          </li>
        </ul>
        <!-- END Navigation menu -->
      </div>
    </nav>
    <!-- END Navigation bar -->
<!-- Site header -->
    <header class="site-header size-lg text-center" style="background-image: url(img/bg-banner1.jpg)">
      <div class="container">
        <div class="col-xs-12">
          <h1>Часто задаваемые вопросы</h1>
          <h5 class="font-alt">Возможно, вы найдете свой ответ здесь. Свяжитесь с нами, если вы не нашли то, что искали.</h5>
          <br>
        </div>

      </div>
    </header>
    <!-- END Site header -->



    <!-- Main container -->
    <main id="faq-result">
      <section>
        <div class="container">
          <header class="section-header text-left">
            <span>Common questions</span>
            <h2>General</h2>
          </header>

          <ul class="faq-items">
            <li>
              <h5>Что такое наш поисковой портал и как им пользоваться?</h5>
              <p>Наш поисковой портал предоставляет пользователю возможность быстро и удобно искать информацию в Интернете. Для использования поиска просто введите ключевые слова в поле поиска на главной странице и нажмите кнопку "Поиск". Поисковый портал также предлагает различные фильтры и параметры, чтобы уточнить результаты поиска.</p>
            </li>

            <li>
              <h5>Какие типы информации можно найти через ваш поисковой портал?</h5>
              <p>Наш поисковой портал предоставляет доступ к широкому спектру информации в Интернете, включая веб-страницы, изображения, видео, новости и многое другое. Вы можете настраивать поиск для получения результатов определенного типа информации или использовать общий поиск для получения наиболее полного списка результатов.</p>
            </li>

            <li>
              <h5>Каким образом улучшить результаты поиска?</h5>
              <p>Чтобы получить более точные и релевантные результаты поиска, рекомендуется использовать следующие советы:Уточните запрос: Попробуйте добавить более конкретные ключевые слова или фразы, чтобы улучшить точность поиска.
Используйте фильтры: Наш поисковой портал предлагает различные фильтры, которые помогут сузить результаты поиска по категориям, датам, местоположению и другим параметрам.
Измените порядок слов: Иногда изменение порядка слов или использование синонимов может привести к лучшим результатам поиска.</p>
            </li>

            <li>
              <h5>Как обратиться в службу поддержки, если у меня есть проблемы или вопросы?</h5>
              <p>Если у вас возникли проблемы, вопросы или предложения, пожалуйста, свяжитесь с нами через контактную форму на нашем веб-сайте или используйте предоставленные контактные данные. Мы постараемся ответить на ваше обращение в кратчайшие сроки и решить вашу проблему.</p>
            </li>
          </ul>
        </div>
      </section>
    </main>
    <!-- END Main container -->


    <!-- Site footer -->
    <footer class="site-footer">

      <!-- Top section -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">An employment website is a web site that deals specifically with employment or careers. Many employment websites are designed to allow employers to post job requirements for a position to be filled and are commonly known as job boards. Other employment sites offer employer reviews, career and job-search advice, and describe different job descriptions or employers. Through a job website a prospective employee can locate and fill out a job application.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Company</h6>
            <ul class="footer-links">
              <li><a href="page-about.html">About us</a></li>
              <li><a href="page-typography.html">How it works</a></li>
              <li><a href="page-faq.html">Help center</a></li>
              <li><a href="page-typography.html">Privacy policy</a></li>
              <li><a href="page-contact.html">Contact us</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Trendeing jobs</h6>
            <ul class="footer-links">
              <li><a href="job-list.html">Front-end developer</a></li>
              <li><a href="job-list.html">Android developer</a></li>
              <li><a href="job-list.html">iOS developer</a></li>
              <li><a href="job-list.html">Full stack developer</a></li>
              <li><a href="job-list.html">Project administrator</a></li>
            </ul>
          </div>
        </div>

        <hr>
      </div>
      <!-- END Top section -->

      <!-- Bottom section -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyrights &copy; 2016 All Rights Reserved by <a href="http://themeforest.net/user/shamsoft">ShaMSofT</a>.</p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END Bottom section -->

    </footer>
    <!-- END Site footer -->


    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
    <!-- END Back to top button -->

    <!-- Scripts -->
    <script src="assets/js/app.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
    <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
  </body>
</html>